@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <p>Created as part of the requirments for the Post Graduate Diploma in Cyber Security.</p>
</div>
<div>
    <p>The Secure programming for Web Applications Module - Lecturer Vikas Sahni.</p>
</div>