@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Any additional information that is required should be directed to the below email address.
    
</address>

<address>
    <strong>Support:</strong>   <a href="x15031195@student.ncirl.ie">x15031195@student.ncirl.ie</a><br />
    
</address>